assets/*
!assets/.gitkeep
protected/runtime/*
!protected/runtime/.gitkeep
.idea
protected/config/license
protected/config/version
themes/*
!themes/backend
images/items/*
!images/items/etc_adena_i00.jpg
!images/items/etc_coins_gold_i00.jpg
!images/items/no-image.jpg
protected/components/ActiveRecord.php
protected/components/BackendBaseController.php
protected/components/CabinetBaseController.php
protected/components/Controller.php
protected/components/FrontendBaseController.php